body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#34CBD8, #4b7fb0);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid #F2AEC9;
    margin-bottom: 10px;
}

#bff-img:hover {
    animation: rotation 5s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#bday-age {
    background: #F2AEC9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-age:hover span {
    display: none;
}

#bday-age:hover::before {
    content: "62 ans";
    text-decoration: line-through;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#bday-date {
    margin: 0;
    background: #F2AEC9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #1096A3;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    box-shadow: 0 0 3px black;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/U4DswrBiaz0p67ZweH/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/5t235Nf4wo3rhLSMVy/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/aeu60CPZd8zw4/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/lf4U8MpbPcWTILmb9n/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/QsyPRpG6WVR6SYfBVw/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/